<script>
  import {onMount} from "svelte";
	 import { scaleLinear, scaleBand } from 'd3-scale';
  
  // Size and margins
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //Loading the data
  let datapoints = null;
  let transf_data = {};
  let cities = [];
  let unique = [];
  let city = "Chicago";
  let selected = "Chicago";
  let scaling = "Overall";
  let scale = null;
  
  onMount(async () => {
    datapoints = await 
      fetch("https://datavis-exercises.vercel.app/data/hourly_heating_december.json")
        .then(datapoints => datapoints.json())
        
      unique = [...new Set(datapoints.map(d => d.buildingtype))];
      cities = [...new Set(datapoints.map(d => d.city))];
       
    {
      datapoints.forEach((d)=> {
        if (!(d.city in transf_data)){
            transf_data[d.city]={}
        }
        if (!(d.buildingtype in transf_data[d.city])){
            transf_data[d.city][d.buildingtype]=[]
        }
        transf_data[d.city][d.buildingtype].push(d.total_heating_energy);
        })
    }
    
  
  });
 
  // Use scale to distribute types evenly over canvas height
  let xcity = scaleBand() .domain(["Baltimore","Los Angeles","Chicago"]).range([margin.top, innerHeight-margin.top-margin.bottom]);
  let xbuilding = scaleBand().domain(['FullServiceRestaurant', 'Hospital', 'LargeHotel', 'LargeOffice', 'MediumOffice', 
  'MidriseApartment', 'OutPatient', 'PrimarySchool', 'QuickServiceRestaurant', 'SecondarySchool', 'SmallHotel', 'SmallOffice', 'Stand-aloneRetail', 
  'StripMall', 'SuperMarket', 'Warehouse']).range([margin.top, innerHeight]);
  let lineHeight = scaleLinear().domain([0,2900]).range([1,15])
  let lineLength = scaleLinear().domain([0,750]).range([0,innerWidth])
 
</script>


{#if !datapoints}
  <p>Loading...</p>
{:else}

<div>
  {#each cities as location}
  <p>
    <input checked={selected===location} on:change={() => (city = location)} 
    type="radio" name="amount" city=location /> {location}
  </p>
  {/each} 
</div>


  <svg {width} {height}>
    <g transform="translate({margin.left*2}, {margin.top*2})" >
      <text font-family="Times, serif" font-size="20px">{city}</text>
     
        {#each unique as building}
          <g transform="translate(0,{xbuilding(building)+margin.top})">
            <text font-size="10px">{building}</text>
            {#each transf_data[city][building] as value, idx} 
              <ellipse cx={lineLength(idx)} cy=5 rx=3 ry={lineHeight(value)}/>
              <rect x={lineLength(idx)-1} y={-lineHeight(value)+5} width=2 height={2*lineHeight(value)}/>
            {/each}
          </g>
        {/each}
    </g>
  </svg>

{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  ellipse {
    fill: blue;
    fill-opacity: 0.30;
    
  }

  rect {
    fill: green;
    fill-opacity: 0.8;
    
  }
</style>

<h5>Design 1: Energy use over multiple days</h5>


	