<script>
  import {onMount} from "svelte";
  import { scaleLinear} from 'd3-scale';


  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  //Loading the data
  let datapoints = null;
  let data_gas = {};
  let data_elec = {};
  let weeks = [];
    
  onMount(async () => {
    datapoints = await 
      fetch("https://datavis-exercises.vercel.app/data/hourly_electricity_vs_gas_december.json")
        .then(datapoints => datapoints.json())
        
        weeks = [...new Set(datapoints.map(d => d.week))];
       
    {
      datapoints.forEach((d)=> {
        if (!(d.week in data_gas)){
            data_gas[d.week]=[]
        }
        data_gas[d.week].push(d.total_gas);
        })
    }

    {
      datapoints.forEach((d)=> {
        if (!(d.week in data_elec)){
            data_elec[d.week]=[]
        }
        data_elec[d.week].push(d.total_electrity);
        })
    }
     console.log(data_elec) 
  });

  let yScale = scaleLinear().domain([0,3500]).range([6,100])
  let xScale = scaleLinear().domain([0,170]).range([6,240])
  let weekScale = scaleLinear().domain([47,52]).range([5,1])

  
  let slopedGas = (d) =>{
    let path = "M 5,-5 ";
    d.forEach((value,idx) =>{
      path += (xScale(idx))+ "," + (-xScale(idx)*0.5+yScale(value)) + " "
    })
    path += " 400,-200 Z"
    return path;  
  }

  let slopedGas2 = (d) =>{
    let path = "M -5,-5 ";
    d.forEach((value,idx) =>{
      path += (-xScale(idx))+ "," + (-xScale(idx)*0.5+yScale(value)) + " "
    })
    path += " -400,-120 Z"
    return path;  
  }

  

  let slopedElec = (d) =>{
    let path = "M 5,-5 ";
    d.forEach((value,idx) =>{
      path += (xScale(idx)) + "," + (-xScale(idx)*0.5-yScale(value)) + " "
    })
    path += " 400,-200 Z"
    return path;  
  }

  let slopedElec2 = (d) =>{
    let path = "M -5,-5 ";
    d.forEach((value,idx) =>{
      path += (-xScale(idx)) + "," + (-xScale(idx)*0.5-yScale(value)) + " "
    })
    path += " -400,-200 Z"
    return path;  
  }

  let slopedGasRed = (d) =>{
    let path = "M 5,-5 ";
    d.forEach((value,idx) =>{
      path += (xScale(idx))+ "," + (-xScale(idx)*0.5+yScale(value)) + " "
    })
    path += " 300,-60.5 Z"
    return path;  
  }

  let slopedElecRed = (d) =>{
    let path = "M 5,-5 ";
    d.forEach((value,idx) =>{
      path += (xScale(idx)) + "," + (-xScale(idx)*0.5-yScale(value)) + " "
    })
    path += " 200,-60.5 Z"
    return path;  
  }

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    
    {#each weeks as week}
      <g transform="translate({innerWidth/2},{weekScale(week)*innerHeight/6-25})">
        {#if (weekScale(week)==(1)) }
        <path class="elec" d={slopedElecRed(data_elec[week])} />
        <path class="gas" d={slopedGasRed(data_gas[week])} />
        {:else if (weekScale(week)==(3))}
        <path class="elec" d={slopedElec(data_elec[week])} />
        <path class="gas" d={slopedGas(data_gas[week])} />
        {:else if (weekScale(week)==(5))}
        <path class="elec" d={slopedElec(data_elec[week])} />
        <path class="gas" d={slopedGas(data_gas[week])} />
        {:else}
        <path class="elec" d={slopedElec2(data_elec[week])} />
        <path class="gas" d={slopedGas2(data_gas[week])} />
        {/if}

      <!--  -->
      </g>
    {/each}

  </g>
  <g transform="translate({innerWidth/2-60}, {innerHeight-3*margin.top})">
    <text font-family="Times, serif" font-size="30px">Baltimore</text>
  </g>
  <g transform="translate({innerWidth/2-50}, {innerHeight})">
    <text font-family="Times, serif" font-size="15px">(December 2014)</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  .elec {
    stroke: black;
    fill: black;
    fill-opacity: 0.5;
  }

  .gas {
    stroke: green;
    fill: green;
    fill-opacity: 0.5;
  }

  
</style>
