<script>
  let current = "";
</script>

<style>
	.backg {
		background-color: red;
    color: black;
    font-weight: bold;
	}
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary"  class:backg={current=="messi"} on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary"  class:backg={current=="ronaldo"} on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:backg={current=="neymar"} on:click={() => (current = "neymar")}>
  Neymar
</button>


