<body>
  <button onclick="fun_name();">Click me</button>

  <script>
      
      //if (Clicked button) {
        //alert("You have clicked the button");
      //} else (Click button) {
        //alert("You have to click the button");
      //}//
      
  </script>
</body>





