<div><p>Marks are basic geometric elements that depict items and links.</p>
    <p><em>Marks</em> are <strike>basic</strike> <b>geometric elements</b> that depict items and links.</p>
    
    </div>
    <div>
        <!--  -->
        <p>The best visual channels ordered by Mackinlay's ranking:</p>
        <ol><li>Position</li>
          <li>Length</li>
          <li>Angle</li></ol>
      </div>


