<script>
    let number = 0;
    let count = () => (number += 1);
    let recount = () => (number = 0);
  </script>
  <main>
    <button on:click={count}>count</button>
    <button on:click={recount}>recount</button>
    <input value={number} size="9" />
  </main>
  
  
  
  
