<script>
  import IntersectionObserver from "svelte-intersection-observer";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!

  // Color
  let color = "darkred";
  let current = 0;

  function timefly() {
    if (current <= points.length+1) {
      current++;
    }
  }
  
  $: color=current > points.length ? "darkgreen" : "darkred";

  let element;
  let intersecting = false;
  let myInterval;
  
  $:if (intersecting) {
    current = 0;
    myInterval = setInterval(timefly, 1000);
  }
  $: if (current > points.length || !intersecting) {
    clearInterval(myInterval)
  }

</script>

<IntersectionObserver {element} bind:intersecting>
  <svg bind:this={element} class:intersecting viewBox="0 0 {width} {height}">
      <g transform="translate({margin.left},{margin.top})">
        {#each points as p, i}
          <circle cx={p} cy={innerHeight/2}  r="15" fill={color} opacity={i < current ? 1 : 0.3} />
        {/each}
      </g>
  </svg>
</IntersectionObserver>


