<script>
  // Properties
  export let year=0;
  export let continent ="all"
  const continents = ["europe", "asia", "americas", "africa"];
  
  let runtime = false;
  let inttime = null;
  
  function start() {
    runtime = !runtime;
    if (runtime) {
      inttime = setInterval(() => {
        year = year + 1;
        if (year === 214) year = 0;
      }, 50);
    } else {
      clearInterval(inttime);
    }
  }

  function reset() {
    year = 0;
    runtime = false;
    clearInterval(inttime);
  }

</script>

<div class="row">
  <div class= "col-2">
    <button class="btn btn-outline-primary " on:click={start}>
    {runtime ? "Stop": "Start"}
    </button> 
  </div>
  <div class= "col-4">
    <button type="button" class="btn btn-outline-danger" on:click={reset} > Reset 
    </button>
    
  </div> 
  <div class = "col-4">
    <select id="continent" name="continent" bind:value={continent}>
      {#each continents as continent}
        <option value={continent}>{continent}</option>
        {/each}
        <option value="all">worldwide</option>
      </select>
  </div>

  <div>
    <input type="range" 
      class="form-range"
      min="0" 
      max="214"
      bind:value={year}/>
      <p style="text-align: center">Year: {year+1800} </p>
  </div>
</div>










