<script>
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { brush } from "d3-brush";

  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";

  export let selected_local = [];
  export let selected_both = [];

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  let range = null;
  let coords = [];

  data.forEach((d) => {
    coords.push({x:xScale(x(d)), y:yScale(y(d))});
  });

  function get_range({selection}) {
    range = selection;
  }

  const myBrush = brush().on("end", get_range);
  let bru;
  $: select(bru).call(myBrush);

  if (selected_local.length == 0) {
    data.forEach((d) => {
      selected_local.push(true);
    });
  }

  function update_selected_local (updated_range) {
    if (updated_range == null) {
      selected_local.forEach((d, i) => {
        selected_local[i] = true;
      });
    }
    else {
      const range_min_x = Math.min(updated_range[0][0], updated_range[1][0]);
      const range_max_x = Math.max(updated_range[0][0], updated_range[1][0]);
      const range_min_y = Math.min(updated_range[0][1], updated_range[1][1]);
      const range_max_y = Math.max(updated_range[0][1], updated_range[1][1]);
      selected_local.forEach((d, i) => {
        const d_x = coords[i].x;
        const d_y = coords[i].y;
        if (d_x >= range_min_x && d_x <= range_max_x && d_y >= range_min_y && d_y <= range_max_y) {
          selected_local[i] = true;
        }
        else {
          selected_local[i] = false;
        }
      });
    }
  }
  
  $: update_selected_local(range);
</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    <g bind:this={bru}>
      {#each data as d, i}
        <circle
          class:not_selected={!selected_both[i]}
          cx={xScale(x(d))}
          cy={yScale(y(d))}
          r={3}
          fill="steelblue"
          fill-opacity="0.5"
          stroke="steelblue"
          stroke-width="1.5"
          stroke-opacity="1"
        />
      {/each}
    </g>
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
  circle.not_selected {
    stroke: darkgray;
    fill: darkgray;
    fill-opacity: 0.3;
    stroke-opacity: 0.5;
  }
</style>

