<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>

<svg viewBox="0 0 100 100" height="100px" width="100px">
	<g transform="translate({5},{5})">
    <!--  -->
  </g>
	<circle cx="50" cy="50" r="20" fill="skyblue" />
</svg>


