<script>
  //Import
  import { scaleLog } from 'd3-scale';
  import { select } from 'd3-selection';
  import { axisBottom } from 'd3-axis';
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  //Scaling
  const scale = scaleLog() .domain([1, 10]) .range([100, 700]);
  const axis = axisBottom(scale);

 //function axis
 function xAxis(x)
 {
   axisBottom(scale)(select(x));
 }
</script>

<style>
  circle {
     fill: steelblue;
     fill-opacity: 0.5;
    }
  
  text {
     color: currentColor;
     font-size: small;
    }
  </style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
   {#each values as value}
   <circle cx={scale(value)}
           cy=45
           r=10 />
  {/each}
  <text x={width / 2} y={innerHeight + 15}> x-axis </text>
  
 </g>

  <g transform="translate({margin.left},{innerHeight-5})" use:xAxis>

  </g>
</svg>
