<script>
  let datapoints = [{x: 2, y: 1},
                    {x: 4, y: 2},
                    {x: 6, y: 1},
                    {x: 7, y: 3},
                    {x: 9, y: 1},
                   ]
</script>

<style>
	svg {
		background-color: whitesmoke;
	}
	circle {
    fill: skyblue;
  }
</style>

<svg viewBox="0 0 800 100" height="100px" width="800px">	
	<g transform="translate({5},{5})">
    <!--  -->
  </g>
  {#each datapoints as datapoint}
    <circle cx={datapoint.x} cy={datapoint.y} r=10 />
  {/each}
</svg>

